h2 {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left: 3px;
  border-right: 3px;
  border-radius: 5px;
  border-color: #000000;
}
div {
  vertical-align: middle;
  text-align: center;
}
div .title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
div .subtitle {
  text-align: center;
}
button .btn_ajax {
  width: 100%;
  text-align: center;
}
